Source: ros-kilted-my-package
Section: misc
Priority: optional
Maintainer: Scott K Logan <logans@cottsay.net>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-my-package
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-ros-workspace
Description: A simple test package
